@import 'colors';

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  @media screen and (max-width: 1080px){
    font-size: 93.75%;
  }

  @media  screen and (max-width: 768px) {
    font-size: 87.5%;
  }
}

body, input, button{
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

body{
  background-color: $gray-200;
}
