@import '../styles/colors';

.task {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid $blue-100;
  background-color: $white;

  .labelTextTrash {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
  }

  label {
    display: flex;
    align-items: center;
    cursor: pointer;

    input[type="checkbox"] {
      display: none;

      &+span {
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 4px;
        border: 2px solid $gray-700;
        color: transparent;

        transition: 0.2s;
      }

      &:checked+span {
        background-color: $green-300;
        border-color: $green-300;
        color: $white;
      }
    }
  }

  p {
    width: 80%;
    word-break: break-all;

    &.done {
      text-decoration: line-through;
      color: $gray-500;
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    color: $gray-700;

    &:hover {
      color: $red-400;
      background-color: $gray-100;
    }
  }

  .buttonEdit {
    &:hover {
      color: $green-300;
    }
  }

  .buttonDataTrash {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 5.8rem;
    }

    .finishP {
      width: 12rem;
    }


    p {
      font-size: 0.8rem;
      height: 1.25rem;
      width: 8rem;
      flex-grow: 0;
      color: $gray-700;

      .svgCheck {
        color: $green-300;
      }

      svg {
        width: 1.25rem;
        height: 1.25rem;
        vertical-align: sub;
        margin-right: 0.5rem;
      }
    }

    .dataChange {
      display: flex;
    }
  }
}